/* ! для тестирования */
/* body * {
  border: 1px solid black;
} */
/* ! для тестирования */

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 1em;
  background: #ffffff;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 0.5em;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

/* * info */
.info {
  margin-bottom: 1em;
}

ul {
  list-style: none;
}

li span {
  font-size: 1.4em;
}

li {
  font-size: 1.2em;
}

/* * contact info */

.contact-info {
  font-weight: 700;
  text-align: right;
}

.contact-tel {
  color: #e8505b;
  transition: 0.5s;
}
.contact-tel:hover {
  color: #e98087;
}

.contact-info h2 {
  margin-top: 0.7em;
}

/* * logo */
#logo {
  height: 100%;
}

.logo-color {
  fill: #e8505b;
}

/* * hero */
#car {
  animation: drive 10s ease-in-out infinite normal;
  margin-left: 1em;
}

@keyframes drive {
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* * map */

#map {
  height: 80vh;
  padding: 1em;
}
