body {
  padding: 0;
  margin: 0;
  background: #fefefe;
}

h1 {
  color: pink;
}

.body-1 {
  fill: #e8505b;
}
.body-2 {
  fill: #2d21ab;
}
.body-3 {
  fill: #39a130;
}

.cls-2 {
  fill: #263238;
}
.cls-3 {
  fill: #fafafa;
}
.cls-4 {
  fill: #e0e0e0;
}
.cls-5 {
  opacity: 0.7;
}
.cls-7 {
  opacity: 0.5;
}
.cls-8 {
  fill: #fff;
}
.cls-9 {
  fill: #467083;
}
.cls-10 {
  fill: #ebebeb;
}

.container {
  display: flex;
}

svg {
  animation-name: drive;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  margin-left: 1em;
  width: 20vw;
}

@keyframes drive {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}
